//====================================================================================================
.header__menu {
	padding: 30px 0px;
	border-bottom: none;
	@media (min-width: $mobile) {
		border-bottom: 1px solid #828282;
	}

}
.menu {
		display: flex;
		justify-content: end;
	@media (min-width: $mobile) {
		display: flex;
		justify-content: center;
	}
	&__body {
	}
	&__list {
		display: none;
		background-color: #fff;
		list-style-type: none;

		@media (min-width: $mobile) {
			display: flex;
			align-items: center;
			gap: 70px;
			background-color: inherit;
		}
		&.active {
			position: fixed;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 10px;
			left: 0;
			top: 0;
			width: 100vw;
			height: 100vh;
			pointer-events: all;
			animation: fade 0.1s linear;

		}
	}
	&__item {
		font-size: 30px;
		font-weight: 700;
		color: #828282;
		cursor: pointer;
		transition: 0.3s ease;
		&:nth-child(1) {
			color: #000;
		}
		&:hover {
			transform: scale(1.2);
			color: #000;
		}
		@media (min-width: $mobile) {
			font-size: 18px;
		}

	}
}
//Burger
.burger {
	display: block;
	cursor: pointer;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: 36px;
		height: 22px;
		z-index: 100;
		cursor: pointer;
		span,
		&::before,
		&::after {
			content: "";
			right: 0;
			position: absolute;
			width: 36px;
			height: 4px;
			border-radius: 30px;
			background-color: #000;
			transition: all 0.3s ease 0s;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: 9px;
			left: 0px;
			width: 36px;
		}
		&.active-burger {
			&:before {
				 background: #000;
				 transform: rotate(45deg);
				 transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
				 top: 8px;
			}

			&:after {
				 background: #000;
				 transform: rotate(-45deg);
				 bottom: 10px;
				 transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
			}

			& span {
				 transform: scale(0);
			}
	  }	}
}